<div class="spielfeld">
  <h1>MauMau</h1>
  <h2>Zieh- und Ablagestapel</h2>
  <app-ziehstapel></app-ziehstapel>
  <span class="spacer"></span>
  <app-ablagestapel></app-ablagestapel>
  <app-spielerhand></app-spielerhand>
</div>
