h1 {
  font-family: fantasy;
  color: #bc9f9f;
  font-size: 100px;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: fantasy;
  color: #bc9f9f;
}

.spielfeld {

}

.spacer {
  margin-right: 3em;
}
