h2 {
  font-family: fantasy;
  color: #bc9f9f;
}
ul {
  padding-left: 0;
}
.spielerhand {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 8em));
  gap: 1em;
}

.karte {
  list-style-type: none;
}
